  .container{
    font-size: 14px;
    // background-color: red;
    .storeList{
      overflow: hidden;
      margin-top: 60px;
      .storeItem{
        margin: 10px 20px;
        padding: 10px;
        line-height: 30px;
        box-shadow: 0 0 10px 2px rgb(235, 234, 234);
        border-radius: 5px;
        .default{
          position: relative;
          display: flex;
          height: 30px;
          image{
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
          view{
            margin-left: 5px;
            text{
              display: block;
              height: 30px;
              line-height: 30px;
            }
            .storeName{
              font-weight:bold;
              font-size: 16px;
            }
          }
          .icon{
            position:absolute;
            top:5px;
            right: 0;
            width: 20px;
            height: 20px;
          }
        }
        .info{
          display: flex;
          margin-top: 10px;
          padding-top:10px;
          border-top: solid 1px #ddd;
          .printList,.materielList{
            flex:1;
            // transition:display 5s;
          }
          .hideItem{
            display: none;
          }
          .title{
            height: 30px;
            line-height: 30px;
            margin-right: 10px;
            // F9CDAD
            background-color: #c9d3fc;
            text{
              display: inline-block;
              line-height: 30px;
            }
            text:first-child{
              margin-right: 5px;
              padding:0 5px;
              font-weight: bold;
              background-image: linear-gradient(to right, #c9d3fc , #5e7cf8);
            }
          }
          .item{
            // "#f15369""#4fbdaa""#5169ca",
            display: flex;
            text{
              flex:1;
              margin:5px 0;
              padding-left:3px;
              height: 20px;
              line-height: 20px;
              display: block;
              border-left: solid 3px #5e7cf8;
              // &:nth-child(2){
              //   border-color: #4fbdaa;
              // }
            }
          }
        }
      }
  
    }
  }


