  .container{
    font-size: 14px;
    // background-color: red;
    .storeList{
      overflow: hidden;
      margin-top: 100px;
      .storeItem{
        margin: 10px;
        padding: 10px;
        line-height: 30px;
        box-shadow: 0 0 5px 1px rgba(202, 202, 202, 0.5);
        border-radius: 5px;
        .default{
          position: relative;
          display: flex;
          height: 30px;
          image{
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
          view{
            margin-left: 5px;
            text{
              display: block;
              height: 30px;
              line-height: 30px;
            }
            .storeName{
              font-weight:bold;
              font-size: 16px;
            }
          }
          .icon{
            position:absolute;
            top:5px;
            right: 0;
            width: 20px;
            height: 20px;
          }
        }
        .info{
          display: flex;
          margin-top: 10px;
          padding-top:10px;
          border-top: solid 1px #ddd;
          .printList,.materielList{
            flex:1;
            // transition:display 5s;
          }
          .hideItem{
            display: none;
          }
          .item{
            // "#f15369""#4fbdaa""#5169ca",
            view{
              margin:5px 0;
              text{
                display: block;
                padding-left:6px;
                height: 30px;
                line-height: 30px;
                border-left: solid 4px #f15369;
                background-image: linear-gradient(to right, #f5a9b3 , #f5d4d8);
              }
              &:nth-child(2) text{
                border-color: #f9cdad;
                background-image: linear-gradient(to right, #f8dbc6 , #f5ede7);
              }
              &:nth-child(3) text{
                border-color: #4fbdaa;
                background-image: linear-gradient(to right, #cbf1eb , #e8f8f5);
              }
            }

          }
        }
      }
  
    }
  }


