/* pages/region/info/info.wxss */

.container{
  width: 100vw;
  .msgInfo{
    display: flex;
    .msgItem{
      position: relative;
      width: 50%;
      margin:10px;
      padding:10px;
      height: 100px;
      box-shadow: 0 0 10px 2px rgb(235, 234, 234);
      border-radius: 5px;
      image{
        position:absolute;
        width: 40px;
        height: 40px;
        bottom:10px;
        right: 10px;
      }
      view{
        font-size: 16px;
        font-weight: bold;
        line-height: 30px;
      }
      text{
        line-height: 40px;
        font-size: 16px;
      }
    }
  }
  .regionInfo{
    .regionTitle{
      padding-left:10px;
      height: 30px;
      line-height: 30px;
      image{
        float: left;
        margin-top: 5px;
        width: 20px;
        height: 20px;
      }
      text{
        padding-left: 5px;
        font-size: 18px;
        font-weight: bold;
      }
    }
    .materielList{
      position: relative;
      margin: 10px;
      padding:10px;
      box-shadow: 0 0 10px 2px rgb(235, 234, 234);
      border-radius: 5px;
      display: flex;
      .title{
        flex:1;
        margin:10px;
        border-right:solid 2px #ebebeb;
        text{
          font-size: 16px;
          line-height: 50px;
        }
      }
      .item{
        flex:1;
        // "#f15369""#4fbdaa""#5169ca",
      }
      text{
        display: block;
        line-height: 30px;
        text-align: center;
        &:nth-child(2n+1){
          font-weight: bold;
          color: #000;
        }
      }
      image{
        position:absolute;
        width: 30px;
        height: 30px;
        right: 10px;
        top:50%;
        margin-top: -15px;
      }
    }
    .mapInfo{
      position: relative;
      margin:10px;
      padding:10px;
      height: 40px;
      box-shadow: 0 0 10px 2px rgb(235, 234, 234);
      border-radius: 5px;
      line-height: 40px;
      font-size: 16px;
      image{
        position:absolute;
        width: 30px;
        height: 30px;
        right: 10px;
        top:15px;
      }
    }
  }
}