  .container{
    font-size: 14px;
    // background-color: red;
    .selectMod{
      // padding-top: 100px;
      width: 100%;
      padding-bottom: 10px;
      position: fixed;
      background-color: #fff;
      overflow: hidden;
    }
    .van-search{
      width: calc(100% - 150px);
      margin: 7px 20px 0 20px;
      padding: 0;
      background-color: #fff;
      box-shadow: 0 0 10px 2px rgb(235, 234, 234);
      border-radius: 20px;
      .van-search__content{
        background: none;
      }
    }
    .materialList{
      overflow: hidden;
      .materialItem{
        margin: 10px 20px;
        padding: 10px;
        line-height: 30px;
        box-shadow: 0 0 10px 2px rgb(235, 234, 234);
        border-radius: 5px;
        .default{

          display: flex;
          height: 60px;
          image{
            width: 60px;
            height: 60px;
            border-radius: 50%;
          }
          view{
            margin-left: 10px;
            text{
              display: block;
              height: 30px;
              line-height: 30px;
            }
            .materialName{
              font-weight:bold;
              font-size: 18px;
            }
          }
        }
      }
  
    }
  }


